.brown-color {
  background-color: #4f0e0e;
}
.form-container {
  margin: 5rem auto;
  padding: 2rem;
  /* border: 2px solid rgb(79, 14, 14); */
  box-shadow: 0 10px 20px rgba(79, 14, 14, 0.12),
    0 4px 8px rgba(79, 14, 14, 0.06);
}
li {
  list-style: none;
}
.green-color {
  background-color: #9fe6a0;
}
.card h5 {
  padding-bottom: 15px;
}
